<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title style="text-align: center;">
            Hymn {{number}}
            <ion-icon *ngIf="!favourite" name="star-outline" (click)="addToFaves()"></ion-icon>
            <ion-icon *ngIf="favourite" name="star"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row text-align="center">
            <h1><strong>Ba Sione, thabelang!</strong></h1>
        </ion-row>
        <ion-row>
            <div class="ion-padding" text-align="justify">
                Ba Sione, thabelang.<br/>
                Kgo&#353;i e le etelang!<br/>
                Tlang re mo gahlanet&#353;eng!<br/>
                O kgaufsi o tseleng.
                <br/><br/>
            </div>
        </ion-row>

    </ion-grid>

</ion-content>
