<ion-header>
    <ion-toolbar>
        <ion-title>
            Difela tsa Sepedi  <ion-icon button name="star"></ion-icon>
        </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar (ionChange)="setFilteredItems()" [(ngModel)]="searchTerm" showCancelButton="never" placeholder="Hymn Number, Lyrics, Title"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item button *ngFor="let item of items" (click)="openHymnDetails(item.title)">
            <ion-label>{{item.title}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
